@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100;300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* variables */
:root {
  --primary-color: #14213d;
  --secondary-color: #1c2e55d2;
  --text-color: #ffff;
}

body {
  /* background-color: #000000; */
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  background: var(--primary-color);
  scroll-behavior: smooth;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #2c3e509d;
  border: 50%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.loader__disappear {
  animation: vanish infinite forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.preloader img {
  height: 150px;
  width: 150px;
}
/* body.white__theme {
  
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  background: var(--text-color);
  scroll-behavior: smooth;
} */
/* scroll bar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--secondary-color);
  background-color: var(--text-color);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary-color);
  border-radius: 999px !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 999px !important;
}
/* nav__bar */
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.header {
  padding: 1.2rem 0;
  margin: 0 auto;
  width: 90%;

  /* position: relative; */
}
.header header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.header .brand {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}
.header .nav-bar nav {
  z-index: 90;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0%;
  top: 90px;
  background-color: var(--primary-color);
  width: 80%;
  height: 100vh;
  text-align: justify;
  padding: 20px 0;
  transition: 0.5s ease-in-out transform;
  transform: translateX(-100%);
}
.header .nav-bar nav.nav-toggle {
  transform: translateX(0%);
}
.header .nav-bar nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  /* display: none; */
}
.header .nav-bar nav .nav-list li {
  padding: 5px 0;
}
.header .nav-bar nav .nav-list li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;

  font-weight: 400;
}
.header .nav-bar .nav-button {
  padding: 10px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.733);
  /* display: none; */
}
#form {
  margin: 2rem 0;
}
/* hamburger style */

.header .nav-bar .ham {
  display: inline-block;
  cursor: pointer;
  padding: 20px 10px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}
.header .nav-bar .ham .bar {
  height: 3px;
  width: 30px;
  background-color: var(--text-color);
  position: relative;
  transition: 0.5s ease all;
}
.header .nav-bar .ham .bar::before,
.header .nav-bar .ham .bar::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: var(--text-color);
  transition: 0.5s ease all;
}
.header .nav-bar .ham .bar::before {
  top: -10px;
  left: 0;
}
.header .nav-bar .ham .bar::after {
  bottom: -10px;
  left: 0;
}
.header .nav-bar .ham.close .bar::before {
  top: 0px;
  transform: rotate(45deg);
  left: 0;
}
.header .nav-bar .ham.close .bar::after {
  top: 0px;
  transform: rotate(-45deg);
  left: 0;
}
.header .nav-bar .ham.close .bar {
  background-color: transparent;
}

/*  search box */

.searchInputWrapper {
  position: relative;
}

.searchInput {
  width: 14rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
}

::placeholder {
  color: var(--primary-color);
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px;
}

.searchInput:focus {
  outline: none;

  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;

  transition: all 0.1s ease-in-out;
}

.container:focus-within > .searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}
/* For desktop style */
@media only screen and (min-width: 1000px) {
  .header {
    width: 100%;
  }
  .header .nav-bar {
    width: auto;
  }

  .header header {
    display: flex;
    align-items: center;
  }
  .header .nav-bar nav {
    position: initial;
    transform: translate(0, 0);
    height: auto;
    width: auto;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
  }
  .header .nav-bar nav .nav-list {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;

    /* position: absolute; */
  }
  #form {
    margin: 0 2rem;
  }
  .header .nav-bar nav .nav-list li {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .nav-bar nav .nav-list li a {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .nav-bar .ham {
    display: none;
  }
}

/* hero section */
.hero__section {
  padding: 2rem 1rem;
  width: 100%;

  background-image: linear-gradient(
    to top 80%,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--text-color);
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero__info {
  font-weight: 500;
  text-transform: uppercase;
}

.hero__title {
  font-weight: 900;
  margin: 0.5rem 0;
}
.hero__year {
  font-size: 1.5rem;
  margin-left: 0.75rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  opacity: 0.8;
  color: #eee;
}
.hero__genres {
  text-transform: uppercase;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  margin: 0.5rem 0;
}
.hero__star {
  color: #ff950b;
}

/* .app__seriesSeasons {
  text-transform: uppercase;
  
  font-size: 0.95rem;
  margin: 0;
  margin-top: 1rem;
  font-weight: 500;
} */

.hero__genres:not(:last-of-type):after {
  content: ", ";
}

/* .app__featuredCert {
	padding: 0.25rem 0.5rem;
	background: rgba(255,255,255,0.1);
	border: 1px solid #fff;
	border-radius: 5px;
	margin-right: 0.5rem;
	margin-left: -4px;
} */

.hero__desc {
  width: 50%;
  margin: 0.5rem 0;
  font-weight: 400 !important;
  text-overflow: ellipsis;
  text-align: justify;
  transition: all 0.5s;
}
.hidden__text {
  display: none;
}
.see__more {
  text-decoration: underline;
  font-weight: 300 !important;
  cursor: pointer;
}

.hero__desc.see__more__text .hidden__text {
  display: inline-block;
}
.hero__desc.see__more__text .dots {
  display: none;
}
/* .app__featuredDesc a {
	opacity: 0.5;
	transition: opacity 0.1s ease;
} */

/* .app__featuredDesc a:hover {
	opacity: 1;
} */

.hero__ratings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}
.rating__count {
  margin: 0 0.5rem;
}
/* .MuiRating-iconEmpty {
	color: rgba(255, 255, 255, 0.5) !important;
}

.app__featuredLikes {
	margin: 0 0 8px 0.5rem;
} */

.hero__button {
  border-radius: 99px !important;
  color: var(--text-color) !important;
  font-weight: 600 !important;
  font-family: "Work Sans", sans-serif !important;
  background-color: var(--primary-color) !important;
  padding: 8px 24px;
  border: none;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  border: 1px solid var(--text-color);
  pointer-events: inherit;
}
.hero__button .video__icon {
  color: var(--text-color) !important;
  margin: 0 0.5rem 0 0;
}
/* .hero__button:hover {
  background: var(--text-color) !important;
  color: var(--primary-color) !important;
}

.hero__button:hover,
.video__icon {
  color: var(--primary-color) !important;
} */

/* hero background overlay */
.hero__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 30rem;
  background-image: url(https://cdn.mos.cms.futurecdn.net/8NgbWjnZUq5zRV4orQfbJi.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(
    ellipse farthest-side at 60% 10%,
    rgb(34, 53, 71),
    transparent
  );
  pointer-events: none;
}

.video__modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 30rem;
  transform: translate(50%, 50%);
  /* mix-blend-mode: overlay; */
  z-index: 1000;
  /* -webkit-mask-image: radial-gradient(
    ellipse farthest-side at 60% 10%,
    rgb(34, 53, 71),
    transparent
  ); */
}

/* responsive */
@media (max-width: 550px) {
  .hero__overlay {
    width: 85%;
    background-position: 50% 0% !important;
  }
}
@media (max-width: 550px) {
  .hero__section {
    padding: 3rem 2rem 3rem 2rem;
  }
  .hero__desc {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero__section {
    padding: 3rem 2rem 3rem 2rem;
  }
  .hero__desc {
    width: 80%;
  }
}

/* Movie Lists */
.movie__lists {
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
}

.trending__list h4,
.top__rated__list h4,
.search__list h4 {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 2rem;
}

.trending__list,
.top__rated__list,
.search__list {
  flex: 0 0 calc(100% - 100px);
  margin: 2rem 0;
  margin-right: 2rem;
  position: relative;
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}

.list__items {
  display: flex;
  padding: 10px;
  margin-left: -10px;
  margin-top: -10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list__items::-webkit-scrollbar {
  background-color: transparent;
  display: none;
}

.list__items > .list__item {
  flex: 0 0 300px;
  height: 380px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0 4px 5px 0,
    rgba(0, 0, 0, 0.12) 0 1px 10px 0;
  border: none;
  cursor: pointer;
}

.list__items > .list__item + .list__item {
  margin-left: 1rem;
}

.list__item > img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: all 0.2s ease-out;
  object-fit: cover;
}

.list__item:hover > img {
  transform: scale(1);
}

.list__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    ellipse farthest-side at 0 100%,
    #2c3e50,
    transparent
  );
  background-size: 150% 150%;
  background-position: 0 0;
  top: 0;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
}

.list__item:hover::before {
  background-position: 0% 100%;
}

.movie__info {
  position: absolute;
  left: 0;
  bottom: -6rem;
  padding: 1rem;
  z-index: 9;
  width: 100%;
  transition: bottom 0.2s ease-in;
  color: var(--text-color);
}

.list__item:hover .movie__info {
  bottom: 0;
}

.movie__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  margin-bottom: 1.25rem;
  transition: margin-bottom 0.2s ease-out;
  color: var(--text-color);
  font-size: 1.2rem;
}

.list__item:hover .movie__title {
  margin-bottom: 1rem;
}

.movie__year {
  font-size: 0.85rem;
  margin-left: 0.5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  opacity: 0.75;
  font-size: 1rem;
  font-weight: 300;
}

.movie__overview {
  height: 2.75rem;
  overflow: hidden;
}

.list__item .movie__rating {
  transform-origin: 0 0;
  transform: scale(0.9);
  margin-left: -4px;
}

.movie__rating {
  display: flex;
  align-items: center;
}

.movie__likes {
  margin: 0 0 8px -8px;
}

@media (max-width: 550px) {
  .movie__lists {
    padding: 1rem 1.5rem;
    flex-flow: column nowrap;
  }

  .trending__list {
    flex: 0 0 100%;
    margin-right: 0;
  }
}
