@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .5s;
}

body {
  /* background-color: #000000; */
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  background: #14161a;
  scroll-behavior: smooth;
  

}

/* nav__bar */
.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  background: linear-gradient(to top, #0e0f11, #495057);
}

.app__nav {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1rem;
}

.app__nav li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.app__nav li {
  margin-left: 2rem;
}

.app__search {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 0.25rem;
  padding-left: 0.375rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 99px;
  min-width: 8rem;
}

.app__search input {
  background: transparent;
  color: #fff;
  border: none;
  width: 100%;
  padding-right: 0.5rem;
}
.app__search input::placeholder {
  color: #fff;
}
.app__search input:focus {
  background: #090909 !important;
  color: #fff;
  outline: none;
}

.app__title {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Work Sans", sans-serif;

  color: #fff;
}
/* responsive */
@media (max-width: 550px) {
  .app__header {
    padding: 2rem 1rem;
    overflow: hidden;
  }

  .app__nav li:not(.mobile) {
    display: none;
  }

  .app__back + .app__search {
    margin: 0 1rem !important;
  }
  .app__title{
    font-size: 1.2rem;
  }
}
/* hero section */
.hero__section {
  padding: 5rem 3rem 3rem;
  width: 100%;
  background: linear-gradient(to top, #0e0f11, #495057);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
 
}

.hero__info {
  font-weight: 500;
  text-transform: uppercase;
}

.hero__title {
  font-weight: 900;
  margin: 0.5rem 0;
}
.hero__year {
  font-size: 1.5rem;
  margin-left: 0.75rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  opacity: 0.8;
  color: #eee;
}
.hero__genres {
  text-transform: uppercase;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  margin: 0.5rem 0;
}

/* .app__seriesSeasons {
  text-transform: uppercase;
  
  font-size: 0.95rem;
  margin: 0;
  margin-top: 1rem;
  font-weight: 500;
} */

.hero__genres:not(:last-of-type):after {
  content: ", ";
}

/* .app__featuredCert {
	padding: 0.25rem 0.5rem;
	background: rgba(255,255,255,0.1);
	border: 1px solid #fff;
	border-radius: 5px;
	margin-right: 0.5rem;
	margin-left: -4px;
} */

.hero__desc {
  width: 50%;
  margin: 0.5rem 0;
  font-weight: 400 !important;
  text-overflow: ellipsis;
  text-align: justify;
}

/* .app__featuredDesc a {
	opacity: 0.5;
	transition: opacity 0.1s ease;
} */

/* .app__featuredDesc a:hover {
	opacity: 1;
} */

.hero__ratings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}
.rating__count {
  margin: 0 0.5rem;
}
/* .MuiRating-iconEmpty {
	color: rgba(255, 255, 255, 0.5) !important;
}

.app__featuredLikes {
	margin: 0 0 8px 0.5rem;
} */

.hero__button {
  border-radius: 99px !important;
  color: #25282e !important;
  font-weight: 600 !important;
  font-family: "Work Sans", sans-serif !important;
  background-color: rgb(255, 255, 255) !important;
  padding: 8px 24px;
  border: none;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.hero__button:hover {
  background-color: rgb(215, 215, 215) !important;
}
.hero__button .video__icon {
  margin: 0 0.5rem 0 0;
  color: #495057da;
}
.hero__button:hover,
.video__icon {
  color: #495057;
}


 
 

/* hero background overlay */
.hero__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 30rem;
  background-image: url(https://cdn.mos.cms.futurecdn.net/8NgbWjnZUq5zRV4orQfbJi.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(
    ellipse farthest-side at 75% 10%,
    rgb(3, 45, 85),
    transparent
  );
  pointer-events: none;
}
/* responsive */
@media (max-width: 550px) {
  .hero__overlay {
    width: 85%;
    background-position: 50% 0% !important;
  }
}
@media (max-width: 550px ) {
  .hero__section {
    padding: 3rem 2rem 3rem 2rem;
  }
  .hero__desc {
    width: 80%;
  }
}

@media (max-width: 768px ) {
  .hero__section {
    padding: 3rem 2rem 3rem 2rem;
  }
  .hero__desc {
    width: 80%;
  }
}

/* Movie Lists */
.movie__lists {
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  width: 100%;
  background: linear-gradient(to bottom, #14161a, #1a252f);
}

.trending__list h4,.top__rated__list h4 {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 2rem;
}

.trending__list,.top__rated__list {
  flex: 0 0 calc(100% - 100px);
  margin: 2rem 0;
  margin-right: 2rem;
  position: relative;
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}

.list__items {
  display: flex;
  padding: 10px;
  margin-left: -10px;
  margin-top: -10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list__items::-webkit-scrollbar {
  background-color: transparent;
  display: none;
}

.list__items > .list__item {
  flex: 0 0 300px;
  height: 250px;
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0 4px 5px 0,
    rgba(0, 0, 0, 0.12) 0 1px 10px 0;
  border: none;
  cursor: pointer;
  
}

.list__items > .list__item + .list__item {
  margin-left: 1rem;
}

.list__item > img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: all 0.2s ease-out;
  object-fit: cover;
}

.list__item:hover > img {
  transform: scale(1);
}

.list__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    ellipse farthest-side at 0 100%,
    #2c3e50,
    transparent
  );
  background-size: 150% 150%;
  background-position: 0 0;
  top: 0;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
}

.list__item:hover::before {
  background-position: 0% 100%;
}

.movie__info {
  position: absolute;
  left: 0;
  bottom: -6rem;
  padding: 1rem;
  z-index: 9;
  width: 100%;
  transition: bottom 0.2s ease-in;
  color: #fff;
}

.list__item:hover .movie__info {
  bottom: 0;
}

.movie__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  margin-bottom: 1.25rem;
  transition: margin-bottom 0.2s ease-out;
  color: #fff;
  font-size: 1.2rem;
}

.list__item:hover .movie__title {
  margin-bottom: 0.5rem;
}

.movie__year {
  font-size: 0.85rem;
  margin-left: 0.5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  opacity: 0.75;
  font-size: 1rem;
  font-weight: 300;
}

.movie__overview {
  height: 2.75rem;
  overflow: hidden;
}

.list__item .movie__rating {
  transform-origin: 0 0;
  transform: scale(0.9);
  margin-left: -4px;
}

.movie__rating {
  display: flex;
  align-items: center;
}

.movie__likes {
  margin: 0 0 8px -8px;
}

@media (max-width: 550px) {
  .movie__lists {
    padding: 1rem 1.5rem;
    flex-flow: column nowrap;
  }

  .trending__list {
    flex: 0 0 100%;
    margin-right: 0;
  }
}

/* 
common style
*/
 
